<app-dynamic-layout>
  <app-admin-header header heading="ADD MCQ"></app-admin-header>
  <div main class="p-8" [formGroup]="mcqForm">
    <div class="flex justify-between items-center mb-4">
      <p class="text-xl font-bold">MCQ Questions</p>
      <button type="button"  class="bg-blue-500 text-white px-4 py-1 rounded-md"  (click)="addQuestion()"> + Add Question</button>
    </div>
    <div formArrayName="questions" class="flex flex-col gap-6">
      <div *ngFor="let q of questions.controls; let i = index" [formGroupName]="i" class=" p-4 rounded-lg shadow-md bg-white">
      <p class="p-2">Question {{i+1}}</p>
        <div class="flex items-start gap-4 mb-3">
          <textarea formControlName="question" rows="1" class="flex-1 border rounded p-2 w-full"placeholder="Question"></textarea>
          <select formControlName="category" class="border rounded p-2 ">
            <option value="">Category </option>
            <option *ngFor="let c of category" [value]="c">{{ c }}</option>
          </select>
          <button type="button"class="text-red-600 font-bold text-xl"(click)="removeQuestion(i)"><img src="/svgs/delete.svg" alt="Back" class="align-center w-5 h-8"></button>
        </div>
        <div class="mb-3" formArrayName="options">
          <div *ngFor="let opt of getOptions(i).controls; let j = index" class="flex items-center gap-4 mb-2" >
            <input  [formControlName]="j" type="text" class=" border rounded p-2" placeholder="option {{ j + 1 }}"/>
          </div>
        </div>
        <div class="flex items-center gap-4 mb-3">
          <input formControlName="weightage" type="number" class="border rounded p-2 " placeholder="Weightage"/>
        </div>
        <div class="flex items-center gap-4">
          <select formControlName="answer" class="border w-max rounded p-2">
            <option value="">Correct Answer</option>
            <option *ngFor="let ans of answerKey; let k = index" [value]="k">{{ ans }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mt-6 pl-4">
      <button type="button" class="bg-blue-500 text-white px-6 py-2 rounded-md " (click)="submit()">submit</button>
    </div>
  </div>
</app-dynamic-layout>