<app-dynamic-layout>
  <app-admin-header header heading="Add Coding Question"></app-admin-header>
  <div main class="p-5 flex flex-col gap-4">
    <form
      class="flex flex-col gap-4"
      (ngSubmit)="testcasesTypesSubmit()"
      [formGroup]="testCaseTypesForm"
    >
      <p-floatlabel variant="on">
        <input
          formControlName="question"
          pInputText
          id="input-type-question"
          name="question"
          type="text"
          autocomplete="off"
        />
        <label for="input-type-question">question</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          formControlName="weightage"
          pInputText
          id="input-type-weightage"
          name="weightage"
          type="number"
          autocomplete="off"
        />
        <label for="input-type-weightage">weightage</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          formControlName="methodSignature"
          pInputText
          id="input-type-signature"
          name="methodSignature"
          type="text"
          autocomplete="off"
        />
        <label for="input-type-signature">method Signature</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <textarea
          pTextarea
          id="input-type-desc"
          formControlName="description"
          rows="5"
          cols="30"
          style="resize: none"
          class="h-full w-full"
        ></textarea>
        <label for="input-type-desc">Description</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <textarea
          pTextarea
          id="java-boiler-plate"
          formControlName="javaBoilerPlateCode"
          rows="5"
          cols="30"
          style="resize: none"
          class="h-full w-full"
        ></textarea>
        <label for="java-boiler-plate">Java Boiler Plate</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <textarea
          pTextarea
          id="python-boiler-plate"
          formControlName="pythonBoilerPlateCode"
          rows="5"
          cols="30"
          style="resize: none"
          class="h-full w-full"
        ></textarea>
        <label for="python-boiler-plate">python Boiler Plate</label>
      </p-floatlabel>
      <p-floatlabel class="w-full" variant="on">
        <p-select
          formControlName="difficulty"
          inputId="dropdown-difficulty"
          [options]="difficultyOptions"
          class="w-56"
        />
        <label for="dropdown-difficulty"> difficulty </label>
      </p-floatlabel>
      <div class="text-2xl font-bold">TestCases</div>
      <div class="flex gap-3 items-center">
        <h1 class="text-xl font-bold">Configure Testcases</h1>
        <button
          *ngIf="!showTestCaseForm"
          class="px-5 py-1 text-white flex gap-2 text-lg items-center justify-center bg-blue-500 border-0 outline-0 cursor-pointer font-semibold rounded-sm text-center"
          type="button"
          (click)="setEdit()"
        >
          Edit
        </button>
      </div>
      <div class="flex flex-col gap-3">
        <form
          class="flex gap-4 items-center"
          #myForm="ngForm"
          *ngIf="showTestCaseForm"
          (ngSubmit)="submitForm(myForm)"
        >
          <p-floatlabel variant="on">
            <input
              type="number"
              id="myNumber"
              name="myNumber"
              [(ngModel)]="inputTypesCount"
              #myNumber="ngModel"
              required
              min="1"
              pInputText
              class="w-56"
              autocomplete="off"
            />
            <label for="myNumber">Inputs Count</label>
          </p-floatlabel>

          <button
            class="px-2 py-1 text-white flex gap-2 text-lg items-center justify-center bg-blue-500 disabled:bg-neutral-500 border-0 outline-0 cursor-pointer font-semibold rounded-sm text-center"
            type="submit"
            [disabled]="myForm.invalid"
          >
            Generate
          </button>
        </form>
        <div
          *ngIf="testCasesTypes.length && showTestCaseForm"
          class="flex flex-col gap-4"
        >
          <div class="flex flex-col gap-2" formArrayName="testcasesTypes">
            <div
              *ngFor="
                let inputTypes of testCasesTypes.controls;
                let idx = index
              "
            >
              <div class="flex items-center gap-2" [formGroupName]="idx">
                <div class="text-lg font-semibold">input {{ idx + 1 }}</div>
                <p-floatlabel variant="on">
                  <p-select
                    formControlName="inputType"
                    inputId="input-type-select-{{ idx }}"
                    [options]="inputDataTypes"
                    class="w-56"
                  />
                  <label for="input-type-select-{{ idx }}">Input Type</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                  <input
                    formControlName="parameterName"
                    pInputText
                    id="parameter-name-{{ idx }}"
                    name="parameterName"
                    type="text"
                    autocomplete="off"
                  />
                  <label for="parameter-name-{{ idx }}">Parameter Name</label>
                </p-floatlabel>
              </div>
            </div>
          </div>

          <div class="flex items-center gap-2">
            <div class="text-lg font-semibold">Output</div>
            <p-floatlabel variant="on">
              <p-select
                formControlName="outputType"
                inputId="output-type-select"
                [options]="inputDataTypes"
                class="w-56"
              />
              <label for="output-type-select">Output Type</label>
            </p-floatlabel>
          </div>

          <div class="flex items-center gap-2">
            <button
              class="px-2 py-1 flex gap-2 text-lg items-center justify-center border-blue-500 text-blue-500 disabled:bg-neutral-500 border-0 outline-0 cursor-pointer font-semibold rounded-sm text-center"
              type="button"
              (click)="testcasesCancel()"
            >
              Cancel
            </button>
            <button
              class="px-2 py-1 text-white flex gap-2 text-lg items-center justify-center bg-blue-500 disabled:bg-blue-300 border-0 outline-0 cursor-pointer font-semibold rounded-sm text-center"
              type="submit"
              [disabled]="
                testCaseTypesForm.get('testcasesTypes')?.invalid ||
                testCaseTypesForm.get('outputType')?.invalid
              "
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
    <div
      *ngIf="!showTestCaseForm"
      class="bg-white rounded-xl mt-5 shadow-sm border border-slate-100 overflow-hidden"
    >
      <div class="overflow-x-auto">
        <table class="w-full min-w-full">
          <thead>
            <tr
              class="bg-gradient-to-r from-slate-50 to-slate-100 border-b border-slate-200"
            >
              <th
                class="text-left py-5 px-6 font-semibold text-slate-700 tracking-wide uppercase text-xs"
              >
                Inputs/Outputs
              </th>
              <th
                class="text-left py-5 px-6 font-semibold text-slate-700 tracking-wide uppercase text-xs"
              >
                Type
              </th>
              <th
                class="text-left py-5 px-6 font-semibold text-slate-700 tracking-wide uppercase text-xs"
              >
                Parameter Name
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-slate-100">
            <ng-container *ngIf="tempTestcaseTypes.length">
              <tr
                class="hover:bg-slate-50 transition-colors duration-200 group"
                *ngFor="
                  let inputTypes of tempTestcaseTypes.controls;
                  let idx = index
                "
              >
                <td class="px-6 py-5 font-bold text-slate-700">
                  Input {{ idx + 1 }}
                </td>
                <td class="px-6 py-5 font-bold text-slate-700">
                  {{ getTestCaseSpecificTypeAtIdx(idx) }}
                </td>
                <td class="px-6 py-5 font-bold text-slate-700">
                  {{ getTestCaseSpecificParameterNameAtIdx(idx) }}
                </td>
              </tr>

              <tr
                class="hover:bg-slate-50 transition-colors duration-200 group"
                *ngIf="tempTestCasesTypesForm.get('outputType')?.value"
              >
                <td class="px-6 py-5 font-bold text-slate-700">Output</td>
                <td class="px-6 py-5 font-bold text-slate-700">
                  {{ tempTestCasesTypesForm.get("outputType")?.value }}
                </td>
                <td class="px-6 py-5 font-bold text-slate-700">-</td>
              </tr>
            </ng-container>
            <tr
              *ngIf="
                testCasesTypes.length === 0 ||
                !tempTestCasesTypesForm.get('outputType')?.value
              "
            >
              <td
                colspan="3"
                class="px-6 py-8 text-center text-slate-500 italic"
              >
                No input/output types completely configured yet
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      *ngIf="TestCases.length"
      class="flex flex-col gap-4"
      [formGroup]="testCaseTypesForm"
    >
      <div class="flex items-center justify-between">
        <h3 class="text-xl font-bold">Test Cases</h3>
        <button
          class="px-3 py-2 bg-green-500 text-white rounded-sm font-semibold hover:bg-green-600"
          type="button"
          (click)="addTestCase()"
        >
          Add Test Case
        </button>
      </div>

      <div formArrayName="testcases">
        <div
          *ngFor="let testcase of TestCases.controls; let testIdx = index"
          class="border border-gray-300 rounded-lg p-4 mb-4"
          [formGroupName]="testIdx"
        >
          <div class="flex items-center justify-between mb-3">
            <h4 class="text-lg font-semibold">Test Case {{ testIdx + 1 }}</h4>
            <button
              class="px-2 py-1 bg-red-500 text-white rounded-sm font-semibold hover:bg-red-600"
              type="button"
              (click)="deleteTestCase(testIdx)"
            >
              Delete
            </button>
          </div>

          <div
            formArrayName="testcaseInputs"
            class="flex flex-col gap-3 w-full"
          >
            <!-- First block (only index 0) -->
            <div
              *ngFor="
                let inputField of getSlicedControls(testIdx, 0);
                let inputIdx = index
              "
              [formGroupName]="inputIdx"
            >
              <div class="border border-gray-200 w-full rounded p-3">
                <h5 class="text-md font-semibold mb-2">Inputs</h5>
                <div
                  formArrayName="inputs"
                  class="grid grid-cols-3 grid-flow-row w-full gap-2"
                >
                  <div
                    *ngFor="
                      let input of getInputsArray(testIdx).controls;
                      let inIdx = index
                    "
                    [formGroupName]="inIdx"
                  >
                    <div *ngIf="getFieldType(testIdx, inIdx) !== 'boolean'">
                      <p-floatlabel variant="on">
                        <input
                          formControlName="value"
                          pInputText
                          id="input-{{ getFieldName(testIdx, inIdx) }}-{{
                            testIdx
                          }}-{{ inIdx }}"
                          [type]="getFieldType(testIdx, inIdx)"
                          autocomplete="off"
                          class="w-full"
                        />
                        <label
                          for="input-{{ getFieldName(testIdx, inIdx) }}-{{
                            testIdx
                          }}-{{ inIdx }}"
                        >
                          {{ getFieldName(testIdx, inIdx) }}
                        </label>
                      </p-floatlabel>
                    </div>

                    <div *ngIf="getFieldType(testIdx, inIdx) === 'boolean'">
                      <p-floatlabel variant="on">
                        <p-select
                          formControlName="value"
                          inputId="boolean-{{ getFieldName(testIdx, inIdx) }}-{{
                            testIdx
                          }}-{{ inIdx }}"
                          [options]="booleanOptions"
                          class="w-full"
                        />
                        <label
                          for="boolean-{{ getFieldName(testIdx, inIdx) }}-{{
                            testIdx
                          }}-{{ inIdx }}"
                        >
                          {{ getFieldName(testIdx, inIdx) }}
                        </label>
                      </p-floatlabel>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Other blocks (index > 0) wrapped in one div -->
            <div
              class="grid grid-cols-3 grid-flow-row gap-3 w-full rounded p-3"
            >
              <div
                *ngFor="
                  let inputField of getSlicedControls(testIdx, 1);
                  let inputIdx = index
                "
                [ngClass]="{
                  'col-span-1': inputIdx < 3,
                  'col-span-3': inputIdx >= 3
                }"
                [formGroupName]="inputIdx + 1"
              >
                <!-- Basic fields -->
                <div
                  *ngIf="
                    !getBasicFieldType(testIdx, inputIdx).startsWith('advanced')
                  "
                >
                  <p-floatlabel variant="on">
                    <input
                      formControlName="value"
                      pInputText
                      id="basic-{{ getBasicFieldName(testIdx, inputIdx) }}-{{
                        testIdx
                      }}-{{ inputIdx }}"
                      [type]="getBasicFieldType(testIdx, inputIdx)"
                      autocomplete="off"
                      class="w-full"
                    />
                    <label
                      for="basic-{{ getBasicFieldName(testIdx, inputIdx) }}-{{
                        testIdx
                      }}-{{ inputIdx }}"
                    >
                      {{ getBasicFieldName(testIdx, inputIdx) }}
                    </label>
                  </p-floatlabel>
                </div>

                <!-- Advanced fields -->
                <div
                  *ngIf="
                    getBasicFieldType(testIdx, inputIdx).startsWith('advanced')
                  "
                >
                  <p-floatlabel
                    *ngIf="
                      getBasicFieldType(testIdx, inputIdx) ===
                      'advanced-textarea'
                    "
                    variant="on"
                  >
                    <textarea
                      pTextarea
                      id="textarea-{{ getBasicFieldName(testIdx, inputIdx) }}-{{
                        testIdx
                      }}-{{ inputIdx }}"
                      formControlName="value"
                      rows="5"
                      cols="300"
                      style="resize: none"
                      class="h-full w-full"
                      fluid
                    ></textarea>
                    <label
                      for="textarea-{{
                        getBasicFieldName(testIdx, inputIdx)
                      }}-{{ testIdx }}-{{ inputIdx }}"
                    >
                      {{ getBasicFieldName(testIdx, inputIdx) }}
                    </label>
                  </p-floatlabel>

                  <p-floatlabel
                    *ngIf="
                      getBasicFieldType(testIdx, inputIdx) ===
                      'advanced-dropdown-boolean'
                    "
                    class="w-full"
                    variant="on"
                  >
                    <p-select
                      formControlName="value"
                      inputId="dropdown-boolean-{{
                        getBasicFieldName(testIdx, inputIdx)
                      }}-{{ testIdx }}-{{ inputIdx }}"
                      [options]="booleanOptions"
                      class="w-full"
                    />
                    <label
                      for="dropdown-boolean-{{
                        getBasicFieldName(testIdx, inputIdx)
                      }}-{{ testIdx }}-{{ inputIdx }}"
                    >
                      {{ getBasicFieldName(testIdx, inputIdx) }}
                    </label>
                  </p-floatlabel>

                  <p-floatlabel
                    *ngIf="
                      getBasicFieldType(testIdx, inputIdx) ===
                      'advanced-dropdown'
                    "
                    class="w-full"
                    variant="on"
                  >
                    <p-select
                      formControlName="value"
                      inputId="dropdown-{{
                        getBasicFieldName(testIdx, inputIdx)
                      }}-{{ testIdx }}-{{ inputIdx }}"
                      [options]="testcaseTypesOptions"
                      class="w-full"
                    />
                    <label
                      for="dropdown-{{
                        getBasicFieldName(testIdx, inputIdx)
                      }}-{{ testIdx }}-{{ inputIdx }}"
                    >
                      {{ getBasicFieldName(testIdx, inputIdx) }}
                    </label>
                  </p-floatlabel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    footer
    class="border-t px-5 py-2 flex justify-end items-center border-t-gray-200"
  >
    <div class="flex gap-3">
      <button
        type="button"
        class="py-1 h-fit px-3 text-blue-500 outline-none flex gap-2 items-center justify-center font-medium cursor-pointer border border-blue-500 text-lg rounded-sm"
      >
        Cancel
      </button>
      <button
        type="button"
        (click)="submitQuestion()"
        [disabled]="isQuestionFormInvalid()"
        class="py-1 h-fit text-white disabled:bg-blue-300 px-3 border-none outline-none flex gap-2 items-center justify-center font-medium cursor-pointer bg-blue-500 text-lg rounded-sm"
      >
        Submit
      </button>
    </div>
  </div>
</app-dynamic-layout>
