<div
  class="h-[100vh] w-full flex relative items-center justify-center gap-5 p-5"
>
  <p-toast />

  <form
    [formGroup]="userForm"
    class="w-[400px] p-5 rounded-lg h-[400px] shadow-lg flex flex-col gap-5 items-center justify-between"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-3xl font-bold">Join Contest</h2>
    <div class="flex flex-col gap-4 w-[90%]">
      <p-floatlabel variant="on" class="w-full">
        <input
          formControlName="collegeUid"
          pInputText
          class="w-full"
          id="college_uid"
          type="text"
          autocomplete="off"
        />

        <label for="college_uid">College UID</label>
        <div
          *ngIf="
            userForm.controls['collegeUid'].invalid &&
            userForm.controls['collegeUid'].touched
          "
          class="text-red-400 font-medium text-sm text-left"
        >
          <div *ngIf="userForm.controls['collegeUid'].errors?.['required']">
            college Uid is required
          </div>
        </div>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-full">
        <input
          formControlName="collegeRollNo"
          pInputText
          class="w-full"
          id="college_reg_no"
          type="text"
          autocomplete="off"
        />

        <label for="college_reg_no">College Registration No</label>
        <div
          *ngIf="
            userForm.controls['collegeRollNo'].invalid &&
            userForm.controls['collegeRollNo'].touched
          "
          class="text-red-400 font-medium text-sm text-left"
        >
          <div *ngIf="userForm.controls['collegeRollNo'].errors?.['required']">
            college Regd no is required
          </div>
        </div>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-full">
        <input
          formControlName="email"
          class="w-full"
          pInputText
          id="email"
          type="text"
          autocomplete="off"
        />

        <label for="email">Email</label>
        <div
          *ngIf="
            userForm.controls['email'].invalid &&
            userForm.controls['email'].touched
          "
          class="text-red-400 font-medium text-sm text-left"
        >
          <div *ngIf="userForm.controls['email'].errors?.['required']">
            email is required
          </div>
          <div *ngIf="userForm.controls['email'].errors?.['email']">
            enter valid email
          </div>
        </div>
      </p-floatlabel>
    </div>
    <button
      type="submit"
      [disabled]="userForm.invalid || isSubmitting"
      class="w-[90%] p-2 text-white flex gap-2 items-center justify-center bg-blue-500 text-xl disabled:bg-neutral-500 border-0 outline-0 cursor-pointer font-semibold rounded-lg text-center"
    >
      @if(isSubmitting){
      <p-progress-spinner
        strokeWidth="6"
        fill="transparent"
        animationDuration=".5s"
        class="!m-0"
        [style]="{ width: '25px', height: '25px' }"
      />

      } Join
    </button>
  </form>
</div>
