/* You can add global styles to this file, and also import other style files */
@import "prismjs/themes/prism-tomorrow.css";
@import "prismjs/plugins/toolbar/prism-toolbar.css";

@import "tailwindcss";

:root {
  --ui-mode: light;
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.p-splitter-gutter:hover {
  background: #228ef2 !important; /* bg-blue-600 */
}
* Custom Prism theme overrides */ .token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a9955;
}

.token.punctuation {
  color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #d4d4d4;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #569cd6;
}

.token.function,
.token.class-name {
  color: #dcdcaa;
}

.token.regex,
.token.important,
.token.variable {
  color: #d16969;
}

/* @theme {
  --breakpoint-xs: 500px;
} */
/* max-xs:bg-yellow-300 */
