<app-admin-header heading="View Developer Mcq"></app-admin-header> 
    <div  class="flex flex-col gap-2 m-5">  
    <div  *ngFor="let q of Mcq; let i = index;" class="mcq-box p-5 border border-gray-200 rounded-lg shadow-md">
    <div *ngIf="editingId !== q.mcqQuestionId; else editMode">
    <div class="flex justify-between">
    <div>
    <p><b>{{ i + 1 }}.</b> {{ q.question }}</p>
    </div>
    <div class="flex gap-2">
    <button (click)="onEdit(q)" class="flex bg-blue-500 text-white px-3 py-1 rounded-lg">Edit</button>
    <button (click)="onSave(q)" class="flex bg-blue-500 text-white px-3 py-1 rounded-lg">Approval</button>
    <button (click)="onDelete(q)" class="flex bg-blue-500 text-white px-3 py-1 rounded-lg">Delete</button>
    </div>
    </div>
    <ul class="list-none">
      <li>A. {{ q.option1 }}</li>
      <li>B. {{ q.option2  }}</li>
      <li>C. {{ q.option3  }}</li>
      <li>D. {{ q.option4  }}</li>
    </ul>
    <p class= "text-green-500 bg-green-50  p-1 border-l-3 border-green-500 w-fit px-7 font-bold">Answer :- {{ q.answerKey }}</p>
    <p>Weightage :- {{q.weightage}}</p>
    <p>Section :- {{q.section}}</p>
    </div>
    <ng-template #editMode>
    <div class="p-2 w-full">
    <div class="flex flex-1 justify-between">
    <p class="text-left bg-blue-100 w-50 mb-2">Edit Mcq</p>
    <div class="flex gap-2">
    <button (click)="onSave(q)" class="flex bg-blue-500 text-white px-3 py-1 rounded-lg">save</button>
    <button (click)="onCancel()" class="flex bg-blue-500 text-white px-3 py-1 rounded-lg">Cancel</button>
    </div>
    </div>
    <div class="flex flex-col gap-3 shadow-lg p-2">
    <div class="flex w-full gap-2">
    <p-floatlabel variant="on">
    <input class="flex-auto w-150" pInputText id="on_label" [(ngModel)]="q.question" autocomplete="off" />
    <label for="on_label">Question {{i+1}}</label>
    </p-floatlabel>
    <p-floatlabel class="w-full md:w-70" variant="on">
            <p-select [options]="Section" [(ngModel)]="q.section" class="w-50 pt-0" />
        <label for="on_label">q.category</label>
    </p-floatlabel>
    </div>
    <div class="flex flex-col gap-2 w-45">
        <div class="flex gap-107">
        <input  pInputText [(ngModel)]="q.option1" type="text" pSize="small" placeholder="Option" />
        <p-floatlabel variant="on">
        <input pInputText id="on_label" [(ngModel)]="q.weightage" autocomplete="off" />
        <label for="on_label">Weightage</label>
        </p-floatlabel>
    </div>
        <input pInputText [(ngModel)]="q.option2" type="text" pSize="small" placeholder="Option" />
        <input pInputText [(ngModel)]="q.option3" type="text" pSize="small" placeholder="Option" />
        <input pInputText [(ngModel)]="q.option4" type="text" pSize="small" placeholder="Option" />
        <p-floatlabel variant="on">
    <input class="flex-auto w-fit px-4" pInputText id="on_label" [(ngModel)]="q.answerKey" autocomplete="off" />
    <label for="on_label">Answer</label>
    </p-floatlabel>
    </div>
    </div>
    </div>
        </ng-template>
    </div>
    </div>

