<app-dynamic-layout>
<div main class="h-full">
<div class="p-2 h-full bg-gray-200 shadow-lg w-full flex gap-1">
  <div class="w-[50%]">
    <form [formGroup]="testForm" class="flex flex-col gap-5 p-10">
      <textarea formControlName="question" rows="4"
        class="h-[50px] p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300"
        placeholder="Question"></textarea>
      <p-floatlabel variant="on">
        <input pInputText id="weightage" type="number" formControlName="weightage" autocomplete="off" />
        <label for="weightage">Weightage</label>
      </p-floatlabel>
      <textarea formControlName="description" rows="4"
        class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300"
        placeholder="Description.."></textarea>
      <h1 class="font-bold">Test Cases</h1>
      <h2 class="font-bold">Configure test cases</h2>
      <div class="flex gap-2">
        <p-floatlabel variant="on">
          <input pInputText id="count" formControlName="count" autocomplete="off" />
          <label for="count">Input Count</label>
        </p-floatlabel>
        <button type="button" class="bg-blue-500 text-white px-2 rounded-md" (click)="onGenerate()">Generate</button>
      </div>
      <div *ngIf="showForm">
        <table class="flex flex-col gap-2 w-full">
          <thead>
            <tr class="flex gap-9 font-bold">
              <th>Inputs</th>
              <th>Types</th>
              <th>Parameter</th>
            </tr>
          </thead>
          <tbody formArrayName="inputs">
            <tr *ngFor="let input of inputs.controls; let i = index" [formGroupName]="i" class="flex gap-3 mb-2">
              <td class="mt-2">Input {{ i + 1 }}</td>
              <ng-container *ngIf="!saved; else savedView"> 
              <td>
                <p-floatlabel class="border border-gray-300 bg-white rounded-md py-1" variant="on">
                  <p-select [options]="types" formControlName="type" class="w-50 mt-2 shadow-none"></p-select>
                  <label >Input Type</label>
                </p-floatlabel>
              </td>
              <td>
                <p-floatlabel variant="on">
                  <input pInputText formControlName="parameter" type="text" autocomplete="off" />
                  <label>Parameter Name</label>
                </p-floatlabel>
                <div *ngIf="input.get('parameter')?.hasError('duplicate') && input.get('parameter')?.touched"
                  class="text-red-500 text-xs">Duplicate parameter name!</div>
              </td>
              </ng-container>
              <ng-template #savedView>
        <div class="mt-2 ml-7 flex flex-row gap-10 align-center">
            <p>{{ input.value.type }}</p>
            <p>{{ input.value.parameter }}</p>
            </div>
      </ng-template>
            </tr>
          </tbody>
        </table>
        <div class="flex gap-3 ">
        <p class="align-center">Output</p>
        <ng-container *ngIf="!saved; else savedView">
        <div class="flex gap-3">
          <p-floatlabel class="border border-gray-300 bg-white rounded-md py-2" variant="on">
            <p-select [options]="types" formControlName="output" class="py-1 w-50 pt-0 shadow-none"></p-select>
            <label for="output">Output Type</label>
          </p-floatlabel>
        </div>
        </ng-container>
        <ng-template #savedView>
      <p class="ml-5">{{testForm.value.output}}</p>
      <div class="flex flex-col">
      <button class="bg-blue-500 text-white px-2 text-center rounded-md" (click)="onEdit()">Edit</button>
      </div>
    </ng-template>
    </div>
      </div>
      <p-floatlabel variant="on">
        <input pInputText id="method" formControlName="method" autocomplete="off" />
        <label for="method">Method Signature</label>
      </p-floatlabel>
      <div class="flex gap-4">
        <button type="button" class="bg-blue-500 text-white px-3 py-1 rounded-md" (click)="onCancel()">Cancel</button>
        <button type="button" class="bg-blue-500 text-white px-3 py-1 rounded-md"
          [disabled]="!testForm.valid" (click)="onSave()">Save</button>
      </div>
    </form>
  </div>

<div class="flex flex-col w-[50%] gap-0">
    <div>
    <p-floatlabel class="bg-black text-white h-10" variant="on">
            <p-select [options]="language" (ngModelChange)="languageChange($event)" [(ngModel)]="selectedlanguage" class="w-40 h-6 align-center m-2" />
    </p-floatlabel>
    </div>
    <app-editor class="w-[100%]"></app-editor>
    <div>
      <div class="flex gap-2 w-full h-10">
      <button class="px-1 h-7 m-1 bg-blue-400 gap-3 text-white rounded-md">Compile & run</button>
      <button class="px-1 h-7 m-1 bg-blue-400 gap-3 text-white rounded-md">Submit</button>
      </div>
    </div>
    <div class="shadow-lg rounded-md bg-gray-100 w-full h-auto pl-3">
    <div class="flex gap-10 mt-1 ">
    <button class="text-gray-400 font-bold rounded-md " (click)="sectionchange('TestCase')">TestCases</button>
    <button class="text-gray-400  font-bold rounded-md " (click)="sectionchange('Result')">Outputs</button>
    </div>
    <div class="p-2" *ngIf="currentSection==='TestCase'">
      <div class="flex flex-row  gap-2">
      <div>
        <button class="px-1 gap-3 text-white rounded-md bg-gray-400 px-2" (click)="openTestCaseForm()">+</button>
        <div class="card flex justify-center">
   

<p-dialog header="Add TestCases" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
<form *ngIf="showTestCaseForm" [formGroup]="testCaseForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-3 w-[90%]">
  <div formArrayName="inputs">
    <div class="mt-3" *ngFor="let input of testCaseInputs.controls; let i = index" [formGroupName]="i">
      <ng-container *ngIf="typesFromMainForm[i] === 'boolean'; else normalInput">
          <p-floatlabel variant="on" class="w-full border border-gray-300 rounded-md py-2">
        <p-select [options]="booleanType" formControlName="type" class="w-full shadow-none"></p-select>
        <label for="input-{{ i }}">Input {{ i + 1 }}</label>
      </p-floatlabel>
        </ng-container>
        <ng-template #normalInput>
          <p-floatlabel variant="on" class="w-full">
            <input formControlName="value" pInputText class="w-full" id="input-{{ i }}" autocomplete="off" />
            <label for="input-{{ i }}">Input {{ i + 1 }}</label>
          </p-floatlabel>
        </ng-template>
    </div>
  </div>
  <ng-container *ngIf="testForm.get('output')?.value === 'boolean'; else normalInput">
  <p-floatlabel variant="on" class="w-full border border-gray-300 rounded-md py-2">
    <p-select 
      [options]="booleanType" 
      formControlName="output" 
      class="w-full shadow-none">
    </p-select>
    <label for="output">Output</label>
  </p-floatlabel>
</ng-container>

  <ng-template #normalInput>
  <p-floatlabel variant="on" class="w-full">
        <input formControlName="output" pInputText class="w-full" id="output" type="text" autocomplete="off"/>
        <label for="output">Output</label>
      </p-floatlabel>
      </ng-template>

      <p-floatlabel variant="on" class="w-full border border-gray-300 rounded-md py-2">
        <p-select [options]="testType" formControlName="type" class="w-full shadow-none"></p-select>
        <label for="on_label">TestCase Type</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="w-full">
        <input formControlName="weightage" pInputText class="w-full" id="weightage" type="number" autocomplete="off"/>
        <label for="weightage">Weightage</label>
      </p-floatlabel>
</div>
  <div class="flex ml-50 pt-2 gap-2">
      <button type="button" class="bg-gray-500 rounded-md px-2 py-1 text-white" (click)="reset()">Reset</button>
      <button  class="bg-blue-400 text-white rounded-md px-2 py-1 disabled:bg-gray-300" [disabled]="testCaseForm.invalid" (click)="onSubmit()">Add</button>
    </div>
</form>
</p-dialog>
<div class="flex flex-col gap-2">
<div *ngIf="save" class="mt-5">
  <div class="flex flex-wrap gap-3">
    <button 
      *ngFor="let tc of submittedTestCases; let i = index"
      type="button"
      class="bg-blue-500 text-white px-4 py-1 rounded-md hover:bg-blue-600"
      (click)="viewTestCase(i)">
      TestCase {{ i + 1 }}
    </button>
  </div>
</div>
<div *ngIf="selectedTestCase" class="mt-4">
  <h3 class="text-lg font-bold mb-2">TestCase Details</h3>
  <p>Inputs:</p><p class="bg-black text-white w-100 rounded-md px-2"> {{ selectedTestCase?.inputValues?.join(', ') }}</p>
  <p>Output: </p><p  class="bg-black text-white w-100 rounded-md px-2"> {{ selectedTestCase.output }}</p>
</div>
</div>
    </div>
    </div>
    </div>
    </div>
      <div *ngIf="currentSection==='Result'">
        <p>results</p>
      </div>
    </div>
    </div>
    </div>
    </div>
</app-dynamic-layout>