<form class="bg-white text-4xl w-80 h-100 mx-auto p-2 font-bold mt-9 border border-gray-300 rounded-md" [formGroup]="Login" (ngSubmit)="submit()">
    <h1 class="text-3xl m-auto text-blue-200 pt-2">Super Admin Login</h1>
    <label for="name" class="text-sm p-2">User Name</label>
    <input id="name" formControlName="name" type="text" class=" text-sm font-light ml-2 mt-2 w-70 h-8 border p-2 border-gray-200 rounded-md">
    <div class="text-sm text-red-100 pl-2" *ngIf="Login.get('name')?.invalid && Login.get('name')?.touched" class="error">
      Name is required.
    </div><br>
    <label class="text-sm p-2">Password</label>
    <input type="password" formControlName="password" class=" text-sm font-light ml-2  w-70 pl-2  h-8  border border-gray-200 rounded-md">
    <div class="text-sm text-red-100 pl-2" *ngIf="Login.get('password')?.invalid && Login.get('password')?.touched" class="error">
      Password is required.
    </div><br>
    <button class="text-sm rounded-md border border-black bg-blue-100 mt-2 ml-28 p-1" (click)="submit()" type="submit">Login</button>
</form>
