<app-dynamic-layout>
  <app-admin-header header heading="Add Coding Question"></app-admin-header>
  <div main class="p-5 flex flex-col gap-2">
    <form
      class="flex gap-3 items-center"
      #myForm="ngForm"
      (ngSubmit)="submitForm(myForm)"
    >
      <p-floatlabel variant="on">
        <input
          type="number"
          id="myNumber"
          name="myNumber"
          [(ngModel)]="inputTypesCount"
          #myNumber="ngModel"
          required
          min="5"
          pInputText
          class="w-56"
          autocomplete="off"
        />
        <label for="myNumber">Inputs Count</label>
      </p-floatlabel>

      <button
        class="px-2 py-1 text-white flex gap-2 text-lg items-center justify-center bg-blue-500 disabled:bg-neutral-500 border-0 outline-0 cursor-pointer font-semibold rounded-sm text-center"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Generate
      </button>
    </form>
    <form *ngIf="testCasesTypes.length" [formGroup]="testCaseTypesForm">
      <div class="flex flex-col gap-2" formArrayName="testcasesTypes">
        <div
          *ngFor="let inputTypes of testCasesTypes.controls; let idx = index"
        >
          <div class="flex items-center gap-2" [formGroupName]="idx">
            <div class="text-lg font-semibold">input {{ idx + 1 }}</div>
            <p-floatlabel variant="on">
              <p-select
                formControlName="inputType"
                inputId="eligibility-select"
                [options]="inputDataTypes"
                class="w-56"
              />
              <label for="eligibility-select">Input Type</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
              <input
                formControlName="parameterName"
                pInputText
                id="input-type"
                name="parameterName"
                type="text"
                autocomplete="off"
              />
              <label for="parameterName">Parameter Name</label>
            </p-floatlabel>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <button
            class="px-2 py-1 flex gap-2 text-lg items-center justify-center border-blue-500 text-blue-500 disabled:bg-neutral-500 border-0 outline-0 cursor-pointer font-semibold rounded-sm text-center"
            type="submit"
          >
            Cancel
          </button>
          <button
            class="px-2 py-1 text-white flex gap-2 text-lg items-center justify-center bg-blue-500 disabled:bg-neutral-500 border-0 outline-0 cursor-pointer font-semibold rounded-sm text-center"
            type="submit"
            [disabled]="testCaseTypesForm.invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</app-dynamic-layout>
