<div *ngIf="getCurrentQuestion()" class="w-full bg-gray-50 h-full">
  <p-splitter
    [ngStyle]="{ height: '100%' }"
    class="!border-0 shadow-lg bg-gray-200 rounded-lg"
  >
    <ng-template class="rounded-lg" pTemplate="panel">
      <div class="h-full w-full flex flex-col rounded-lg overflow-hidden">
        <div
          class="shadow-md px-6 py-1 font-semibold text-lg bg-indigo-600 text-white rounded-t-lg"
        >
          Description
        </div>

        <div class="flex-1 p-6 overflow-y-auto bg-white">
          <h3 class="text-2xl font-bold mb-4">
            {{ getCurrentQuestion()?.question }}
          </h3>

          <p class="text-gray-700 text-lg leading-relaxed mb-6">
            {{ getCurrentQuestion()?.description }}
          </p>

          <div
            *ngFor="let testcase of currentTestCases; index as idx"
            class="p-4 rounded-r-lg mb-4"
          >
            <h4 class="text-lg font-semibold text-gray-800 mb-2">
              Example {{ idx + 1 }}:
            </h4>
            <div class="mb-1">
              <div class="font-medium">Input :</div>
              <div *ngFor="let input of testcase.inputs; let idx = index">
                {{ getCurrentQuestion()?.inputParams?.[idx]  }} = {{ input }}
              </div>
            </div>
            <p class="mb-2">
              <span class="font-medium">Output:</span>
              {{ testcase.output }}
            </p>
            <p class="font-medium mb-2">Explanation:</p>
            <p class="text-sm mt-2">
              {{ testcase.explanation }}
            </p>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="panel">
      <p-splitter
        [panelSizes]="[70, 30]"
        layout="vertical"
        class="rounded-lg bg-gray-200 overflow-hidden"
      >
        <ng-template pTemplate="panel">
          <div class="h-full w-full rounded-lg flex flex-col overflow-hidden">
            <div
              class="bg-indigo-600 flex gap-5 rounded-t-lg items-center text-white text-sm font-bold px-2 py-1.5"
            >
              <div class="flex gap-2 items-center text-base">
                <img src="/svgs/code.svg" class="w-4 h-4" />

                <div class="h-fit mb-1">code</div>
              </div>
              <div class="card flex justify-center">
                <p-select
                  [options]="languagesSupported"
                  [(ngModel)]="language"
                  (ngModelChange)="changeLanguage($event)"
                  placeholder="Select a language"
                  class="min-w-32 pt-0"
                />
              </div>
            </div>
            <div class="flex-1 overflow-hidden">
              <app-monaco-editor
                (notifyCodeChange)="codeChange($event)"
                [currentLanguage]="language"
                [code]="currentCode"
              ></app-monaco-editor>
            </div>
            <div
              class="bg-white border-t border-gray-200 flex gap-2 rounded-b-lg text-white text-sm font-bold px-3 py-1"
            >
              <button
                class="px-4 font-bold text-sm rounded-md cursor-pointer py-1.5 w-fit h-fit bg-blue-500 text-white"
              >
                Compile and Run
              </button>
              <button
                class="px-4 font-bold text-sm rounded-md cursor-pointer py-1.5 w-fit h-fit bg-blue-500 text-white"
              >
                Submit
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="panel">
          <div class="h-full flex flex-col rounded-lg overflow-hidden">
            <div
              class="bg-indigo-600 flex gap-2 text-white px-6 py-1 font-semibold text-lg border-b rounded-t-lg"
            >
              <div
                class="hover:bg-indigo-300 px-3 cursor-pointer rounded-sm"
                (click)="changeTab('TestCases')"
              >
                TestCases
              </div>

              <div
                class="hover:bg-indigo-300 px-3 cursor-pointer rounded-sm"
                (click)="changeTab('Test Results')"
              >
                Test Results
              </div>
            </div>
            <div
              *ngIf="currentSelectedTab === 'TestCases'"
              class="p-4 flex flex-1 bg-white flex-col gap-3 overflow-y-auto"
            >
              <div
                *ngIf="getCurrentQuestion()?.testcases?.length"
                class="flex gap-2 flex-wrap"
              >
                <div
                  [ngClass]="
                    viewCurrentTestCase?.id === testcase.id
                      ? 'bg-blue-100 text-blue-800 border-blue-200'
                      : ' border-blue-200'
                  "
                  (click)="changeQuestion(testcase)"
                  class="text-sm px-3 border cursor-pointer py-1 rounded-sm font-semibold"
                  *ngFor="
                    let testcase of getCurrentQuestion()?.testcases;
                    index as idx
                  "
                >
                  Case {{ idx + 1 }}
                </div>
              </div>
              <div
                *ngIf="viewCurrentTestCase"
                class="bg-white border border-gray-200 rounded-lg p-4 mb-4 shadow-sm"
              >
                <div class="space-y-2 text-sm">
                  <div class="flex flex-col gap-2">
                    <div class="font-medium text-gray-700">Inputs:</div>
                    <code
                      *ngFor="
                        let input of viewCurrentTestCase.inputs;
                        let idx = index
                      "
                      class="bg-black text-white px-2 py-1 rounded text-xs"
                    >
                      {{ getCurrentQuestion()?.inputParams?.[idx]  }} =
                      {{ " " }} {{ input }}</code
                    >
                  </div>
                  <div class="flex flex-col gap-2">
                    <div class="font-medium text-gray-700">Expected:</div>
                    <code
                      class="bg-black text-white px-2 py-1 rounded text-xs"
                      >{{ viewCurrentTestCase.output }}</code
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="currentSelectedTab === 'Test Results'"
              class="p-4 flex flex-1 bg-white flex-col gap-3 overflow-y-auto"
            >
              <div
                *ngIf="getCurrentQuestion()?.testcases?.length"
                class="flex gap-2 flex-wrap"
              >
                <div
                  class="text-xl text-center w-full text-red-600 font-semibold"
                  *ngIf="showErrorMessage()"
                >
                  {{ showErrorMessage() }}
                </div>
                <div *ngIf="!showErrorMessage()">
                  <div class="flex gap-3 flex-wrap">
                    <div
                      [ngClass]="
                        viewCurrentTestCase?.id === testcase.id
                          ? 'bg-blue-100 text-blue-800 border-blue-200'
                          : ' border-blue-200'
                      "
                      (click)="changeQuestion(testcase)"
                      class="text-sm relative px-3 border cursor-pointer py-1 rounded-sm font-semibold"
                      *ngFor="
                        let testcase of getCurrentQuestion()?.testcases;
                        index as idx
                      "
                    >
                      <div
                        class="w-2 h-2 absolute -top-0.5 -right-0.5 rounded-full"
                        [ngClass]="
                          findTestCaseResult(testcase.id)
                            ? 'bg-green-500'
                            : 'bg-red-600'
                        "
                      ></div>
                      Case {{ idx + 1 }}
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!showErrorMessage()">
                <div
                  *ngIf="viewCurrentTestCase"
                  class="bg-white border border-gray-200 rounded-lg p-4 mb-4 shadow-sm"
                >
                  <div class="space-y-2 text-sm">
                    <div class="flex flex-col gap-2">
                      <div class="font-medium text-gray-700">Inputs:</div>
                      <code
                        *ngFor="
                          let input of viewCurrentTestCase.inputs;
                          let idx = index
                        "
                        class="bg-black text-white px-2 py-1 rounded text-xs"
                      >
                        {{ getCurrentQuestion()?.inputParams?.[idx]  }} =
                        {{ " " }} {{ input }}</code
                      >
                    </div>
                    <div class="flex flex-col gap-2">
                      <div class="font-medium text-gray-700">Expected:</div>
                      <code
                        class="bg-black text-white px-2 py-1 rounded text-xs"
                        >{{ viewCurrentTestCase.output }}</code
                      >
                    </div>
                    <div class="flex flex-col gap-2">
                      <div class="font-medium text-gray-700">Output:</div>
                      <code
                        class="bg-black text-white px-2 py-1 rounded text-xs"
                        >{{
                          findTestCase(viewCurrentTestCase.id)?.actualOutput
                        }}</code
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</div>
