<div class="h-[100vh]">
  <app-navbar></app-navbar>

  <div class="flex h-[calc(100%-60px)]">
    <div class="w-10 shadow-lg h-full relative">
      <div
        class="flex gap-2 -rotate-90 p-1 bg-slate-200 h-fit w-70 origin-top-left relative top-90"
      >
        <div
          [ngClass]="[
            currentSection === 'Coding' ? 'bg-blue-500 text-white' : ''
          ]"
          class="flex items-center gap-2 flex-1 w-fit bg-red px-5 h-fit cursor-pointer"
          (click)="changeSection('Coding')"
        >
          <img src="/svgs/code.svg" class="w-5 h-5" />
          <p class="font-bold text-lg">Coding</p>
        </div>
        <div
          [ngClass]="[
            currentSection === 'Mcqs' ? 'bg-blue-500 text-white' : ''
          ]"
          class="flex items-center gap-2 flex-1 w-fit px-5 h-fit cursor-pointer"
          (click)="changeSection('Mcqs')"
        >
          <img src="/images/test.png" class="w-7 h-7" />
          <p class="font-bold text-lg">Mcqs</p>
        </div>
      </div>
    </div>

    <div class="p-5 w-[calc(100%-40px)] h-full flex justify-center">
      <div class="w-[80%] max-w-[1200px]">
        <div
          class="w-full flex justify-between items-center py-3 font-bold text-xl"
        >
          <div class="flex gap-1 items-center">
            <img src="/svgs/Timer.svg" class="w-8 h-8" />
            <h1>{{ getDisplayTime() }}</h1>
            Time left
          </div>
          <button
            class="px-4 font-bold text-base rounded-md cursor-pointer py-2 w-fit h-fit bg-blue-500 text-white"
          >
            Submit Test
          </button>
        </div>
        <div *ngIf="currentSection === 'Mcqs'">
          <app-mcq-section [questions]="mcqQuestions"></app-mcq-section>
        </div>
        <div *ngIf="currentSection === 'Coding'">
          <app-code-section></app-code-section>
        </div>
      </div>
    </div>
  </div>
</div>
