<div class="h-[100vh]">
  <div class="h-[60px] relative items-center justify-center flex shadow-lg">
    <div class="flex gap-2 p-1 w-fit bg-slate-200 h-fit">
      <div
        [ngClass]="[
          currentSection === 'Coding' ? 'bg-blue-500 text-white' : ''
        ]"
        class="flex items-center gap-2 w-fit bg-red px-5 h-fit cursor-pointer"
        (click)="changeSection('Coding')"
      >
        <img src="/svgs/code.svg" class="w-5 h-5" />
        <p class="font-bold text-lg">Coding</p>
      </div>
      <div
        [ngClass]="[currentSection === 'Mcqs' ? 'bg-blue-500 text-white' : '']"
        class="flex items-center gap-2 w-fit px-5 h-fit cursor-pointer"
        (click)="changeSection('Mcqs')"
      >
        <img src="/images/test.png" class="w-7 h-7" />
        <p class="font-bold text-lg">Mcqs</p>
      </div>
      <button
        (click)="toggletheme()"
        class="px-4 top-1/2 -translate-y-1/2 right-2 absolute font-bold text-base rounded-md cursor-pointer py-2 w-fit h-fit bg-blue-500 text-white"
      >
        T
      </button>
    </div>
  </div>
  <div class="h-[calc(100%-60px)]">
    <div class="p-5 h-full flex justify-center">
      <div class="w-[80%] max-w-[1200px]">
        <div
          class="w-full flex justify-between items-center py-1 font-bold text-xl"
        >
          <div class="flex gap-1 items-center">
            <img src="/svgs/Timer.svg" class="w-8 h-8" />
            <h1>{{ getDisplayTime() }}</h1>
            Time left
          </div>

          <button
            class="px-4 font-bold text-base rounded-md cursor-pointer py-2 w-fit h-fit bg-blue-500 text-white"
          >
            Submit Test
          </button>
        </div>
        <div *ngIf="currentSection === 'Mcqs'">
          <app-mcq-section [questions]="mcqQuestions"></app-mcq-section>
        </div>
        <div class="h-[calc(100%-70px)]" *ngIf="currentSection === 'Coding'">
          <app-code-section [questions]="codingQuestions"></app-code-section>
        </div>
      </div>
    </div>
  </div>
</div>
